[submodule "redis/word-fling"]
	path = redis/word-fling
	url = https://github.com/theganyo/word-fling.git
[submodule "redis/rapid-redis"]
	path = redis/rapid-redis
	url = https://github.com/theganyo/rapid-redis.git
[submodule "go/gofullstack"]
	path = go/gofullstack
	url = https://github.com/EngineerKamesh/gofullstack.git
[submodule "go/grpc-go-course"]
	path = go/grpc-go-course
	url = https://github.com/simplesteph/grpc-go-course.git
[submodule "docker/simple-webapp-flask"]
	path = docker/simple-webapp-flask
	url = http://github.com/mmumshad/simple-webapp-flask
[submodule "docker/simple-webapp"]
	path = docker/simple-webapp
	url = https://github.com/mmumshad/simple-webapp.git
[submodule "go/go-networking"]
	path = go/go-networking
	url = https://github.com/vladimirvivien/go-networking
[submodule "go/concurrency-in-go-src"]
	path = go/concurrency-in-go-src
	url = https://github.com/kat-co/concurrency-in-go-src.git
[submodule "go/gwp"]
	path = go/gwp
	url = https://github.com/sausheong/gwp.git
[submodule "websocket/go-websockets-tutorial"]
	path = websocket/go-websockets-tutorial
	url = https://github.com/TutorialEdge/go-websockets-tutorial.git
[submodule "go/testing-with-gomock"]
	path = go/testing-with-gomock
	url = https://github.com/sgreben/testing-with-gomock.git
[submodule "go/books"]
	path = go/books
	url = https://github.com/titpetric/books.git
[submodule "opentracing/Mastering-Distributed-Tracing"]
	path = opentracing/Mastering-Distributed-Tracing
	url = https://github.com/PacktPublishing/Mastering-Distributed-Tracing.git
[submodule "Kubernetes/kubernetes-example-voting-app"]
	path = Kubernetes/kubernetes-example-voting-app
	url = https://github.com/mmumshad/kubernetes-example-voting-app.git
[submodule "Kubernetes/example-voting-app-kubernetes-v2"]
	path = Kubernetes/example-voting-app-kubernetes-v2
	url = https://github.com/mmumshad/example-voting-app-kubernetes-v2.git
[submodule "docker/diamol"]
	path = docker/diamol
	url = https://github.com/sixeyed/diamol.git
[submodule "Kubernetes/kiamol"]
	path = Kubernetes/kiamol
	url = https://github.com/sixeyed/kiamol
[submodule "Kubernetes/TheK8sBook"]
	path = Kubernetes/TheK8sBook
	url = https://github.com/nigelpoulton/TheK8sBook.git
[submodule "terraform/terraform-up-and-running-code"]
	path = terraform/terraform-up-and-running-code
	url = https://github.com/brikis98/terraform-up-and-running-code.git
[submodule "istio"]
	path = istio
	url = https://github.com/DickChesterwood/istio-fleetman
[submodule "prometheus"]
	path = prometheus
	url = https://github.com/PacktPublishing/Hands-On-Infrastructure-Monitoring-with-Prometheus.git
[submodule "go/Go-Standard-Library-Cookbook"]
	path = go/Go-Standard-Library-Cookbook
	url = https://github.com/PacktPublishing/Go-Standard-Library-Cookbook.git
[submodule "go/gnp"]
	path = go/gnp
	url = https://github.com/awoodbeck/gnp
[submodule "Kubernetes/cnat"]
	path = Kubernetes/cnat
	url = https://github.com/programming-kubernetes/cnat.git
[submodule "learning-helm"]
	path = Kubernetes/helm/learning-helm.git
	url = https://github.com/Masterminds/learning-helm.git
