[submodule "redis/word-fling"]
	path = redis/word-fling
	url = https://github.com/theganyo/word-fling.git
[submodule "redis/rapid-redis"]
	path = redis/rapid-redis
	url = https://github.com/theganyo/rapid-redis.git
[submodule "go/gofullstack"]
	path = go/gofullstack
	url = https://github.com/EngineerKamesh/gofullstack.git
[submodule "go/grpc-go-course"]
	path = go/grpc-go-course
	url = https://github.com/simplesteph/grpc-go-course.git
[submodule "docker/simple-webapp-flask"]
	path = docker/simple-webapp-flask
	url = http://github.com/mmumshad/simple-webapp-flask
[submodule "docker/simple-webapp"]
	path = docker/simple-webapp
	url = https://github.com/mmumshad/simple-webapp.git
